* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

header {
  background-color: #0e1b36;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

ul li {
  list-style-type: none;
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 20px 100px;
}

.nav_list {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.nav_list li {
  color: #fff;
}
.nav_list li:not(:first-child) {
  margin-left: 40px;
}
.nav_list li:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 5px;
}
.nav_list li:first-child span {
  margin-left: 130px;
}

.logo {
  cursor: pointer;
}

.bg_image {
  background: url(./images/main_header_arabic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 250px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.svg_images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-left: 150px;
}

.rel_image_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
}

.abs_image_wrapper {
  position: absolute;
  top: -80px;
  left: -130px;
  z-index: 100;
}

.text_abs {
  position: absolute;
  font-size: 50px;
  color: #fff;
  text-align: center;
}

.img_rectangle {
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  width: 23%;
}
.img_rectangle p:first-child {
  font-size: 70px;
  color: #e88b0c;
}
.img_rectangle p:last-child {
  font-size: 60px;
  color: #5da9dd;
}

.options {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
}
.options .options_menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
}
.options .options_menu li {
  padding: 30px 15px;
  font-size: 22px;
}
.options .options_menu li:hover {
  background-color: #39f;
}

.trades {
  background: url(./images/bonus_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: nowrap;
}
.trades .trades_images {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
  padding: 50px 0;
}
.trades .trades_images_wrapper:first-child {
  background: url(./images/bonus_image_left.png);
  background-repeat: no-repeat;
  padding: 120px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  height: 100%;
}
.trades .trades_images_wrapper:first-child p:first-child {
  font-size: 38px;
  transform: skewY(-6deg) scaleX(0.9);
  text-align: center;
  color: #fff;
  margin: 0 20px;
}
.trades .trades_images_wrapper:first-child p:nth-child(2) {
  margin-top: 20px;
  font-size: 30px;
  border: 1px solid #000;
  padding: 10px 20px;
  transform: skewY(-6deg) scaleX(0.9);
}
.trades .trades_images_wrapper:not(:first-child) {
  margin-left: 70px;
}

.trades_images_wrapper:nth-child(2) {
  background: url(./images/bonus_image_center.png);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 70px 100px;
}
.trades_images_wrapper:nth-child(2) p:first-child {
  font-size: 44px;
}
.trades_images_wrapper:nth-child(2) p:nth-child(2) {
  font-size: 100px;
  color: #fff;
}
.trades_images_wrapper:nth-child(2) p:nth-child(3) {
  font-size: 44px;
  color: #fff;
}
.trades_images_wrapper:nth-child(2) p:nth-child(4) {
  cursor: pointer;
  font-size: 30px;
  color: #000;
  border: 1px solid #000;
  padding: 10px 20px;
  margin-top: 20px;
}

.trades_images_wrapper:nth-child(3) {
  background: url(./images/bonus_image_right.png);
  background-repeat: no-repeat;
  padding: 120px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
}
.trades_images_wrapper:nth-child(3) p:first-child {
  font-size: 38px;
  transform: skewY(6deg) scaleX(0.9);
  text-align: center;
  color: #fff;
  margin: 0 20px;
}
.trades_images_wrapper:nth-child(3) p:nth-child(2) {
  margin-top: 20px;
  font-size: 30px;
  border: 1px solid #000;
  padding: 10px 20px;
  transform: skewY(6deg) scaleX(0.9);
}

.bullet {
  background: url(./images/bullet_background.jpg);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 10px;
}
.bullet div:not(:first-child) {
  margin-left: 75px;
}
.bullet div > p:first-child {
  color: #fff;
  font-size: 44px;
}
.bullet div > p:last-child {
  color: #fff;
  font-size: 24px;
}
.bullet div:first-child p {
  color: #720ce8;
  text-align: center;
  font-size: 30px;
}
.bullet__btn {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
}
.bullet__btn .bullet_text {
  position: absolute;
}

.august {
  background: url(https://ar.maximarkets.org/wp-content/themes/maximarkets/assets/images/time_background.jpg);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  text-align: center;
}
.august__first_side > p:first-child {
  margin-top: 40px;
  font-size: 70px;
  color: #167bc0;
  margin-bottom: 40px;
}
.august__first_side > p:nth-child(2) {
  color: #253f76;
  font-size: 50px;
}
.august__first_side > p:nth-child(3) {
  color: #253f76;
  font-size: 50px;
}

.august__second_side {
  position: relative;
  margin-top: 150px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}
.august__second_side .circle_one, .august__second_side .circle_two {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #720ce8;
  padding: 40px 20px;
}
.august__second_side .circle_one {
  border: 1px solid #167bc0;
}
.august__second_side .circle_abs {
  position: absolute;
  top: -80%;
  left: 50%;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #720ce8;
  padding: 40px 20px;
}

.august__bottom_side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  margin-bottom: 40px;
}
.august__bottom_side > p:first-child, .august__bottom_side p:nth-child(3) {
  color: #167bc0;
  font-size: 60px;
}
.august__bottom_side > div > img {
  margin: 0 40px;
}
.august__bottom_side > div {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}
.august__bottom_side > div > p {
  position: absolute;
  color: #fff;
  font-size: 40px;
}

.hexagon_page {
  padding: 50px;
  background: url(./images/unique_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
}
.hexagon_page__hexagon_texts {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
}
.hexagon_page__hexagon_texts > p:first-child {
  font-size: 50px;
  color: #e88b0c;
}
.hexagon_page__hexagon_texts > p:nth-child(2) {
  color: #fff;
  font-size: 36px;
  margin-top: 10px;
}

.hex_blocks {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}

.hex_block:not(:first-child) {
  margin-left: 50px;
}

.hex_center {
  margin-left: 50px;
}

.hex_inner_top {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  position: relative;
  justify-content: flex-start;
}

.hex_inner_top > p:nth-child(3) {
  position: absolute;
  top: 50%;
  color: #fff;
  font-size: 27px;
}

.hex_inner_top > p:nth-child(4) {
  margin-top: 15px;
  position: absolute;
  top: 55%;
  text-align: center;
}

.hex_center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  position: relative;
}
.hex_center > p {
  position: absolute;
  color: #fff;
  font-size: 40px;
  text-align: center;
}

.apple_page {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 40px 0px;
}
.apple_page__name > p {
  color: #167bc0;
  font-size: 70px;
}

.apple_page__all_block {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}

.apple_page__left_side {
  margin: 100px;
}
.apple_page__left_side p {
  font-size: 40px;
  text-align: end;
  color: #253f76;
}

.apple_page_buttons {
  margin-top: 25px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
}
.apple_page_buttons .orange_button {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  min-width: 33%;
  background-color: orange;
  border-radius: 5px;
  padding: 23px 30px;
  text-align: left;
}
.apple_page_buttons .blue_button {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  justify-content: center;
  width: 33%;
  margin-left: 10px;
  background: linear-gradient(to bottom, #115eaa, #198bd9);
  border-radius: 5px;
  padding: 25px 0px;
}
.apple_page_buttons .blue_button__texts {
  margin-left: 15px;
}
.apple_page_buttons .blue_button span {
  color: #fff;
}
.apple_page_buttons .blue_button p {
  text-align: center;
  border-radius: 15px;
  margin-top: 5px;
  font-size: 16px;
  color: #fff;
}
.apple_page_buttons .apple_image {
  height: 37px;
}

.process_blocks {
  margin-top: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
}
.process_blocks__wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.process_blocks .process_block {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 20px;
  margin-left: 110px;
}
.process_blocks .process_block p {
  font-size: 16px;
}
.process_blocks .process_block img {
  margin-left: 20px;
}

footer {
  background-color: #121f3a;
  padding: 20px 75px;
}

.nav_and_logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.footer_nav_list {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 0;
}
.footer_nav_list li {
  color: #777777;
  margin-left: 10px;
}
.footer_nav_list li:hover {
  color: #167bc0;
}
.footer_nav_list span {
  color: #777777;
  margin-left: 10px;
}

.footer_center_content {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 10px;
  font-size: 12px;
}
.footer_center_content .center_left {
  width: 50%;
  color: #777777;
}
.footer_center_content .center_right {
  width: 50%;
  color: #777777;
  text-align: right;
}
.footer_center_content .center_right p {
  margin-top: 10px;
}

.footer_bottom_content {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}
.footer_bottom_content .footer_images {
  width: 50%;
  text-align: right;
}
.footer_bottom_content .visa {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
  color: #777777;
}
.footer_bottom_content .visa p:last-child {
  margin-left: 10px;
}