* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

header {
    background-color: #0e1b36;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

ul li {
    list-style-type: none;
    cursor: pointer;
}

$fcWhite: #fff;
$fcBlack: #000;
$fcBlue: #167bc0;
$fcDarkBlue: #253f76;
$fSizeTZ: 30px;
$fSizeFF: 44px;
$fSizeFZ: 50px;

%transitionAll {
    transition: 0.3s all ease;
}

@mixin dflex ($fdirection: row, $fcontent: center, $fwrap: nowrap){
    display: flex;
    align-items: center;
    flex-direction: $fdirection;
    justify-content: $fcontent;
    flex-wrap: $fwrap;
}

.language_icon, .burger {
    display: none;
}

nav {
    @include dflex(row,space-between, nowrap);
    justify-content: space-between;
    padding: 20px 140px;
}

.nav_list {
    @include dflex(row, space-between, nowrap);
    & li { 
        color: $fcWhite;
    }
    & li:not(:first-child){
        margin-left: 40px;
    }
    & li:first-child {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid $fcWhite;
        padding: 10px;
        border-radius: 5px;
    }
    & li:first-child span {
        margin-left: 130px;
    }
}

.logo{
    cursor: pointer;
}

.start_trading {
    display: none;
}

.bg_image {
    width: 100%;
    background: url(./images/main_header_arabic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 250px;
    @include dflex();
    justify-content: space-between;
}

.svg_images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-left: 150px;
}

.rel_image_wrapper {
    position: relative;
    @include dflex(column);
    @extend %transitionAll;
}

.rel_image_wrapper:hover {
    transform: scale(1.1);
}

.abs_image_wrapper {
    position: absolute;
    top: -80px;
    left: -130px;
    z-index: 100;
    @extend %transitionAll;
}

.abs_image_wrapper:hover {
    transform: scale(1.1);
}

.text_abs {
    position: absolute;
    font-size: 50px;
    color: $fcWhite;
    text-align: center;
}

.img_rectangle {
    cursor: pointer;
    @extend %transitionAll;
    background: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    & p:first-child {
        font-size: 70px;
        color: #e88b0c;
    }
    & p:last-child {
        font-size: 60px;
        color: #5da9dd;
    }
    &:hover {
        background: rgba(0,0,0,1);
    }
}


.options {
    @include dflex(row, flex-end, nowrap);
    width: 100%;
    & .options_menu {
        @include dflex(row, flex-end, nowrap);
        & li {
            padding: 30px 15px;
            font-size: 22px;
        }
        & li:hover {
            background-color: #39f;
        }
    }
}

.trades {
    background: url(./images/bonus_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    @include dflex(column, flex-end, nowrap);
    & .trades_images {
        @include dflex(row, flex-end, nowrap);
        padding: 50px 0;
    }

    .trades_images_wrapper:first-child {
        background: url(./images/bonus_image_left.png);
        background-repeat: no-repeat;
        padding: 120px 0;
        @include dflex(column);
        
        
    & p:first-child {
        font-size: 38px;
        transform: skewY(-6deg) scaleX(.9);
        text-align: center;
        color: $fcWhite;
        margin: 0 20px;
    }
    & p:nth-child(2){
        margin-top: 20px;
        font-size: $fSizeTZ;
        border: 1px solid $fcBlack;
        padding: 10px 20px;
        transform: skewY(-6deg) scaleX(.9);
        cursor: pointer;
    }
    & p:nth-child(2):hover{
        border: 1px solid $fcWhite;
        color: $fcWhite;
    }
}
    .trades_images_wrapper:not(:first-child){
        margin-left: 70px;
    }
}

.trades_images_wrapper:nth-child(2){
    background: url(./images/bonus_image_center.png);
    background-repeat: no-repeat;
    @include dflex(column);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 70px 100px;
    & p:first-child {
        font-size: $fSizeFF;
    }
    & p:nth-child(2){
        font-size: 100px;
        color: $fcWhite;
    }
    & p:nth-child(3){
        font-size: $fSizeFF;
        color: $fcWhite;
    }
    & p:nth-child(4){
        cursor: pointer;
        font-size: $fSizeTZ;
        color: $fcBlack;
        border: 1px solid $fcBlack;
        padding: 10px 20px;
        margin-top: 20px;
    }
    & p:nth-child(4):hover {
        color: $fcWhite;
        border: 1px solid $fcWhite;
    }
}

.trades_images_wrapper:nth-child(3){
    background: url(./images/bonus_image_right.png);
    background-repeat: no-repeat;
    padding: 120px 0;
    @include dflex(column);
    & p:first-child {
        font-size: 38px;
        transform: skewY(6deg) scaleX(.9);
        text-align: center;
        color: $fcWhite;
        margin: 0 20px;
    }
    & p:nth-child(2){
        margin-top: 20px;
        font-size: $fSizeTZ;
        border: 1px solid $fcBlack;
        padding: 10px 20px;
        transform: skewY(6deg) scaleX(.9);
        cursor: pointer;
}
    & p:nth-child(2):hover{
        border: 1px solid $fcWhite;
        color: $fcWhite;
    }
}

.p_btn {
    cursor: pointer;
}

.p_btn:hover {
    color: $fcWhite;
    border: 1px solid $fcWhite;
}

.bullet {
    background: url(./images/bullet_background.jpg);
    @include dflex();
    padding: 10px;
    & div:not(:first-child) {
        margin-left: 75px;
    }
    & div > p:first-child {
        color: $fcWhite;
        font-size: 44px;
    }
    & div > p:last-child {
        color: $fcWhite;
        font-size: 24px;
    }
    & div:first-child p {
        color: #720ce8;
        text-align: center;
        font-size: $fSizeTZ;
    }
    &__btn {
        position: relative;
        @include dflex(column);
        & .bullet_text {
            position: absolute;
        }
    }
    
}

.august {
    background: url(https://ar.maximarkets.org/wp-content/themes/maximarkets/assets/images/time_background.jpg);
    @include dflex(column);
    text-align: center;
   &__first_side > p:first-child{
    margin-top: 40px;
    font-size: 70px;
    color: $fcBlue;
    margin-bottom: 40px;
    }
    &__first_side > p:nth-child(2){
        color: $fcDarkBlue;
        font-size: $fSizeFZ;
   } 
   &__first_side > p:nth-child(3){
       color: $fcDarkBlue;
       font-size: $fSizeFZ;
   }
}

.august__second_side {
    position: relative;
    margin-top: 150px;
    @include dflex();
    & .circle_one, .circle_two {
        @include dflex(column);
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid #720ce8;
        padding: 40px 20px;
    }
    .circle_one {
        border: 1px solid $fcBlue;
    }
    .circle_abs {
        position: absolute;
        top: -80%;
        left: 50%;
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid #720ce8;
        padding: 40px 20px;
    }
    .time_line_wrapper {
        width: 100%
    }
}

.august__bottom_side {
    @include dflex();
    margin-bottom: 40px;
    & > p:first-child, p:nth-child(3){
        color: $fcBlue;
        font-size: 60px;
    }
    & > div > img {
        margin: 0 40px;
    }
    & > div {
        position: relative;
        @include dflex();
    }
    & > div > p {
        position: absolute;
        color: $fcWhite;
        font-size: 40px;
    }
}

.hexagon_page {
    padding: 50px;
    background: url(./images/unique_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    @include dflex(column);
    &__hexagon_texts {
        margin-top: 50px;
        @include dflex(column);
    }

    &__hexagon_texts > p:first-child{
        font-size: 50px;
        color: #e88b0c;
    }
    &__hexagon_texts > p:nth-child(2){
        color: $fcWhite;
        font-size: 36px;
        margin-top: 10px;
    }
}

.hex_blocks {
    @include dflex();
}

.hex_top {
    width: 100%;
}
.hex_bottom {
    width: 100%;
}
.hex_block {
    @extend %transitionAll;
}

.hex_block:hover {
    transform: scale(1.05);
}
.hex_block:not(:first-child) {
    margin-left: 50px;
}   

.hex_center {
    margin-left: 50px;
}

.hex_inner_top {
    @include dflex(column);
    position: relative;
    justify-content: flex-start;
}

.hex_inner_top > p:nth-child(3){
    position: absolute;
    top: 50%;
    color: $fcWhite;
    font-size: 27px;
}
.hex_center_cont {
    width: 100%;
}
.hex_inner_top > p:nth-child(4){
    margin-top: 15px;
    position: absolute;
    top: 55%;
    text-align: center;
}

.hex_center {
    @include dflex(column);
    position: relative;
    & > p {
        position: absolute;
        color: $fcWhite;
        font-size: 40px;
        text-align: center;
    }
}

.apple_page {
    @include dflex(column);
    padding: 40px 0px;
    &__name > p {
        color: $fcBlue;
        font-size: 70px;
    }
}

.apple_page__all_block {
    @include dflex();
}

.apple_page__left_side {
    margin: 100px;
    p {
        font-size: 40px;
        text-align: end;
        color: $fcDarkBlue;
    }
}

.apple_page_buttons {
    margin-top: 25px;
    @include dflex();
    width: 100%;
    .orange_button {
        cursor: pointer;
        @include dflex();
        min-width: 33%;
        background-color: orange;
        border-radius: 5px;
        padding: 23px 30px;
        text-align: left;
    }

    .orange_button:hover {
        background-color: rgb(172, 125, 40);
    }

    .blue_button {
        cursor: pointer;
        @include dflex();
        justify-content: center;
        width: 33%;
        margin-left: 10px;
        background: linear-gradient(to bottom, #115eaa, #198bd9);
        border-radius: 5px;
        padding: 25px 0px;
        &__texts {
            margin-left: 15px;
            }
        & span {
            color: $fcWhite;
            }
        & p {
            text-align: center;
            border-radius: 15px;
            margin-top: 5px;
            font-size: 16px;
            color: $fcWhite;
        }
    }
    
    .blue_button:hover {
       color: #fff;
       background: linear-gradient(to bottom, #121f3a, #198bd9);
    }

    .apple_image {
        height: 37px;
    }
}

.process_blocks {
    margin-top: 25px;
    @include dflex(column);
    width: 100%;
    &__wrapper {
        @include dflex();
        justify-content: space-between;
    }
    .process_block {
        cursor: pointer;
        @include dflex();
        margin-top: 20px;
        margin-left: 110px;
        & p {
            font-size: 16px;
            width: 100%;
        }
        & img {
            margin-left: 20px;
        }
    }
    .process_block:hover .icon_pb {
        transform: scale(1.1);
    }
}

.control_image {
    width: 100%;
}

footer {
    background-color: #121f3a;
    padding: 20px 75px;
}

.nav_and_logo {
    @include dflex(row, space-between);
}

.footer_nav_list {
    @include dflex();
    padding: 0;
    
    li {
        color: #777777;
        margin-left: 10px;
    }
    li:hover {
        color: $fcBlue; 
    }
    span {
        color: #777777;
        margin-left: 10px;
    }
}


.footer_center_content {
    @include dflex();
    margin-top: 10px;
    font-size: 12px;
    .center_left {
        width: 50%;
        color: #777777;
    }
    .center_right {
        width: 50%;
        color: #777777;
        text-align: right;
        p {
            margin-top: 10px;
        }
    }
}

.footer_bottom_content {
    margin-top: 50px;
    @include dflex();
    justify-content: space-between;
    .footer_images {
        width: 50%;
        text-align: right;
    }
    .visa {
        width: 50%;
        @include dflex();
        justify-content: flex-start;
        color: #777777;
        p:last-child {
            margin-left: 10px;
        }
    }
}

.footer_inc {
    font-style: italic;
    color: #777777;
    @include dflex(column);
    font-size: 14px;
}

@media screen and (max-width: 1600px){
    .hex_top {
        width: 99%;
    }
    .hex_bottom {
        width: 99%;
    }
    .hex_inner_top > p:nth-child(3){
        font-size: 17px;
    }
    .hex_inner_top > p:nth-child(4){
        font-size: 12px;
    }
    .hex_center_cont {
        width: 99%;
    }
    .time_line {
        width: 95%;
    }
    .august__second_side {
        width: 90%;
    }
    .process_block_wrapper {
        display: flex;
        justify-content: space-around;
    }
    .apple_page__left_side {
        margin: 50px;
    }
    .process_block {
        margin-left: 20px;
    }
}

@media screen and (max-width: 1500px) {
    nav {
        padding: 20px;
    }
    .bg_image {
        padding: 150px;
    }
    .svg_images {
        margin-left: 0;
    }
    .blue_button__texts p:nth-child(2){
        font-size: 9px;
    }
}

@media screen and (max-width: 1300px) {
    .trades .trades_images_wrapper:first-child {
        padding: 80px 0;
    }
    .trades_images_wrapper:nth-child(3) {
        padding: 80px 0 ;
    }
    .trades_images_wrapper:nth-child(3) {
        padding: 80px 0 ;
    }
    .trades .trades_images_wrapper:nth-child(2) p:nth-child(1){
        font-size: 30px;
    }
    .trades .trades_images_wrapper:nth-child(2) p:nth-child(2){
        font-size: 70px;
    }
    .trades .trades_images_wrapper:nth-child(2) p:nth-child(3){
        font-size: 30px;
    }
    .trades .trades_images_wrapper:nth-child(2) p:nth-child(4){
        font-size: 20px;
    }
    .trades .trades_images_wrapper:first-child p:nth-child(1){
        font-size: 30px;
    }
    .trades .trades_images_wrapper:first-child p:nth-child(2){
        font-size: 20px;
    }
    .trades .trades_images_wrapper:first-child p:nth-child(3){
        font-size: 20px;
    }
    .trades .trades_images_wrapper:nth-child(3) p:nth-child(1){
        font-size: 30px;
    }
    .trades .trades_images_wrapper:nth-child(3) p:nth-child(2){
        font-size: 20px;
    }
    
    .trades_images_wrapper:nth-child(1){
        padding: 10px;
    }
    .trades_images_wrapper:nth-child(2){
        padding: 30px 50px;
    }
}

@media screen and (max-width: 1100px){
    .bullet {
        & div:not(:first-child) {
            margin-left: 25px;
        }
        div > p:first-child {
            font-size: $fSizeTZ;
        }
        div > p:nth-child(2){
            font-size: 16px;
        }
    }
    .hex_inner_top > p:nth-child(3){
        font-size: 11px;
    }
    .hex_inner_top > p:nth-child(4){
        font-size: 7px;
    }
    .control_image {
        display: none;
    }
}
@media screen and (max-width: 960px){
    .img_abs {
        display: none;
    }
    .bg_image {
        padding: 150px 0;
    }
}

@media screen and (max-width: 760px){
    .nav_list {
        display: none;
    }
    .language_icon, .burger {
        display: block;
        color: $fcWhite;
        cursor: pointer;
    }
   
    .rel_image_wrapper {
        display: none;
    }
    .img_rectangle {
        width: 100%;
    }
    .nav_and_logo {
        flex-direction: column;
    }
    .footer_center_content {
        flex-direction: column;
    }
    .footer_logo {
        margin: 20px auto;
    }
    .footer_bottom_content {
        flex-direction: column;
    }
    .trades {
        display: none;
    }
    .bullet {
        display: none;
    }
    .august {
        display: none;
    }
    .hexagon_page {
        display: none;
    }
    .apple_page {
        display: none;
    }
    .options {
        display: none;
    }
    .start_trading {
        display: block;
        padding: 20px;
        @include dflex();
        font-size: $fSizeTZ;
        color: $fcBlue;
    }
    footer {
        padding: 10px;
    }
    .footer_inc {
        margin-top: 20px;
    }
    .center_left {
        width: 100%;
    }
    .center_right {
        width: 100%;
    }
    .visa {
        display: none;
        opacity: 0;
    }
}